* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BASE STYLES */
body {
  color: #FFF;
  background-color: #41444C;
  font-family: sans-serif;
}

button {
  border: none;
  box-shadow: 0px 8px 21px -4px rgba(0,0,0,0.52);
  padding: 0.75rem 1.5rem;
  color: #FFF;
  background-color: #228CEE;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
}

*:focus {
    outline: none;
}

nav {
  text-transform: uppercase;
  color: grey;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li:hover {
  color: lightgrey;
  cursor: pointer;
}

#phone_nav {
  position: absolute;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #41444C;
  height: 0;
  width: 100%;
  transition-duration: 0.5s;
}

#phone_nav li {
  position: relative;
  text-align: center;
  padding: 2.75rem 0;
  cursor: pointer;
}

#phone_nav li:hover {
  background-color: #292B30;
}

/* FLEX STYLES */

header, .logo, .menu, .login, nav ul, nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo, .menu, #submit_soc_btns, .login, nav {
  align-items: center;
}

main, .side, .login-panel {
  display: flex;
  flex-direction: column;
}

#soc_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* HEADER STYLES */

header {
  height: 5.5rem;
  padding: 0 1.5rem;
}

.logo img {
  height: 3.5rem;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  margin-left: 0.5rem;
}

.logo span {
  font-weight: 100;
}

.menu img {
  cursor: pointer;
  height: 3.5rem;
}

/* SIDE STYLES */

.side {
  padding: 1.75rem 2.5rem;
  background-image: linear-gradient(rgba(34, 140, 238, 0.6),rgba(34, 140, 238, 0.6)), url("../images/bg-image.jpg");
  background-size: cover;
}

.side img {
  height: 9rem;
}

.side p {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 3rem;
}

.side p span {
  font-weight: 200;
}

.side ul {
  list-style-type: disk;
  font-size: 1.25rem;
  padding: 0 2.5rem;
}

.side li {
  margin: 1.5rem 0;
}

/* LOGIN STYLES */

.login-panel {
  padding: 2.5rem 2rem;
  background-color: #FFF;
}

.login-panel p {
  text-align: right;
  color: #AAAAAA;
}

.login-panel h1 {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 4.75rem;
  color: #AAAAAA;
}

.login-panel input {
  font-size: 1.5rem;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-bottom: 0.25rem solid #AAAAAA;
  transition-duration: 0.5s;
}

.login-panel input:focus {
  border-bottom: 0.25rem solid #228CEE;
}

.login-panel label {
  display: block;
  color: lightgrey;
  padding: 0.5rem 0;
}

#submit_soc_btns {
  margin: 3rem 0;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

#submit_soc_btns button {
  display: block;
  margin: auto;
  font-size: 1.75rem;
  padding: 1.75rem 7.5rem;
  font-weight: bold;
}

#soc_btns {
  margin-top: 2rem;
  list-style-type: none;
}

#soc_btns li {
  margin-left: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

#face {
  background: url("../images/svg/facebook-brands.svg") no-repeat;
}

#insta {
  background: url("../images/svg/instagram-brands.svg") no-repeat;
}

#pin {
  background: url("../images/svg/pinterest-square-brands.svg") no-repeat;
}

#yout {
  background: url("../images/svg/youtube-brands.svg") no-repeat;
}

footer {
  text-align: center;
  padding: 3rem;
}

footer span {
  color: #228CEE;
}

footer p {
  border-top: 0.25rem solid #228CEE;
  padding-top: 3rem;
}

#desk_layout {
  display: none;
}

@media (min-width: 768px) {
  main {
    margin: auto;
    max-width: 40rem;
  }
}

@media (min-width: 1024px) {
  #phone_layout {
    display: none;
  }

  #desk_layout {
    display: flex;
  }

  main {
    max-width: 60rem;
    flex-direction: row;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .side {
    width: 24rem;
    padding: 1.5rem;
  }

  .login-panel {
    flex-grow: 1;
  }

  .login-panel input {
    margin-top: 2rem;
  }

  #submit_soc_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  #soc_btns {
    margin: 0;
  }

  #submit_soc_btns button {
    align-items: center;
    font-size: 1rem;
    margin: 0;
    padding: 1rem 2rem;
    font-weight: inherit;
  }

  #phone_nav {
    display: none;
  }

}
